/* Importing a font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: wheat;
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  background-color: white;
  height: 15vh;
  width: 100vw;
  overflow: hidden;
}

.headerButton {
  display: flex;
  height: 41%;
  width: 10%;
  background-color: white;
  color: black;
  font-family: 'Nunito', sans-serif;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  font-size: 120%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
}

.bg {
  background-image: url(./images/bgImg.png);
  background-size: cover;
  height: 85vh;
  width: 100vw;
}

.logo {
  height: 100%;
  width: auto;
  background-color: grey;
  border: none;
}

.homeLink {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: auto;
  height: 150%;
  padding-top: 2%;
  margin-left: 1%;
}

.searchBar input {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
}

.searchBar {
  width: 38%;
  height: 35%;
}

.searchBar button {
  background: none;
  border: none;
  height:10%
}

.cart {
  width: 8vw;
  height: auto;
  background-color: grey;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cartLink {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 8vw;
  height: auto;
  margin-right: 1%;
}



.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.contentContainer {
  display: flex;
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8vw;
}

.contentBox img {
  height: 35vh;
  width: auto;
  object-fit: cover;
}

.contentBox p {
  margin-top: 10px;
}

.noMargin {
  margin-top: 0;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}

.homeP {
  width: 67vw;
  height: 46vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.homeButton {
  display: flex;
  height: 15vh;
  width: 26vh;
  background-color: white;
  color: black;
  font-family: 'Nunito', sans-serif;
  border: 2px solid black;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  font-size: x-large;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.aboutBg {
  background-color: white;
  margin: 3%;
  padding: 3%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.aboutTxt {
  font-size: large;
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 3%;
  /* padding-right: 3%; */
}

.product {
  width: 20%;
  margin-bottom: 20px;
  margin-right: 5%;
  position: relative;
}

.product img {
  width: 100%;
  height: auto;
}

.productGrid::after {
  content: '';
  flex: auto;
  margin-right: 5%;
  margin-bottom: 20px;
  height: 0;
  order: 999;
  visibility: hidden;
}

.yellow {
  background-color: #ffe500;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.topDiv {
  background-color: white;
  display: flex;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.topDiv img {
  margin-right: 10px;
}

.topDiv p {
  margin: 0;
  font-size: larger;
}

.bottomDiv {
  padding: 4vh;
  margin-bottom: 5vw;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.bold {
  font-weight: bold;
}